footer{
    align-items: center;
    margin: 0px;
    padding: 2px;
    background-color: #2a2e3a;
    text-align: center;
    font-family: monospace;
    font-size: 17px;
    color: #99bdd8;
}

footer img{
    width: 37px;
    margin-top: 15px;
}