.tableOffer{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    margin-top: 20px;
}

.form-title {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 17px;
    font-size: 20px;
    font-family: monospace;
}

.form-container {
    width: 80%;
    background-color: #34495e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 7px;
    margin-right: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    color: #99bdd8;
    margin-bottom: 5px;
}

.form-input, .form-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
}

.form-actions {
    text-align: center;
    margin-top: 20px;
}

.form-button {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #99bdd8;
}

@media screen and (max-width: 768px) {
    .tableOffer {
        width: 100%;
        padding: 10px;
    }

    .form-input, .form-select {
        font-size: 0.9em;
    }

    .form-button {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}