header{
   display: flex;
   justify-content: center;
   background-color: #2a2e3a;
   text-align: center;
   font-family: monospace;
   font-size: 17px;
   color: #99bdd8;
   margin: 0px;
   padding: 0px;
}

header img{
   margin-right: 20px;
   width: 140px;
}

.title{
   margin-top: 20px;
}