header{
   display: flex;
   justify-content: center;
   background-color: #2a2e3a;
   text-align: center;
   font-family: monospace;
   font-size: 17px;
   color: #99bdd8;
   margin: 0px;
   padding: 0px;
}

header img{
   margin-right: 20px;
   width: 140px;
}

.title{
   margin-top: 20px;
   filter: drop-shadow(3px 3px 3px #253754) drop-shadow(0px 0px 0px #2a2e3a)
    drop-shadow(-3px -3px 3px #223054);

    border-radius: 10px;
    transition: box-shadow 0.1s;
}