.titleShow{
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 20px;
    color: #182634;
}

.offerTime{
    margin: 64px auto;
    padding: 20px;
    background-color: #99bdd8;
    border-radius: 10px;
}

.table{
    border-radius: 12px;
    text-align: center;
    font-family: monospace;
    font-size: 17px;
    color: #99bdd8;
    background-color: #253754;
}

.table th, .table td {
    padding: 4px;
    border: 3px solid #2a2e3a;
    
}

.table thead th {
    background: #182634;
    color: #99bdd8;
    font-weight: bold;
}